body {
    font-family: Arial;
  }
div.container {
    width: 1500px;
    height: 850px;
}
    div.row {
        height: 70px;
        margin-top: 5px;
    }
        div.cell {
            display: inline-block;
            width: 74.6px;
            height: 100%;
            vertical-align: top;
            text-align: center;
        }
        div.cell:hover .element {
            border-color: rgba(0, 0, 0, 0.1);
            background-color: rgba(0, 128, 128, 0.9);
        }
            div.element {
                border: 1px solid rgba(0, 0, 0, 0.05);
                text-align: center;
                background-color: rgba(0, 128, 128, 0.6);
            }
                div.element p.num {
                    font-size: 12px;
                    margin: 0px 2px 0px 0px;
                    text-align: right;
                }
                div.element p.symbol {
                    font-size: 24px;
                    margin: 0px;
                    color: rgba(255, 255, 255, 0.9);
                }
                div.element p.detail {
                    font-size: 10px;
                    margin: 5px 0px 0px 0px;
                }