p.num_element{
    font-size: 12px;
    margin: 0px 2px 0px 0px;
    color: $txtColorBlue;
    text-align: center;
}
p.symbol{
    font-size: 24px;
    margin: 0px;
    color: $txtColorBlue;
    text-align: center;
}
p.details{
    font-size: 10px;
    margin: 5px 0px 0px 0px;
    color: $txtColorBlue;
    text-align: center;
}