div.raw{
    color: $txtColorRed;
    div.number_raw{
        display: $displayInTheline;
        width: 60px;
        height: 60px;
        margin: 5px 5px 5px 5px;
        vertical-align: top;
        vertical-align: right;
    }
}