$bgColor: gainsboro;
$txtColorRed: red;
$txtColorBlue: blue;
$bgColor-lightBlue: #66d0fb;
$bgColor-pink:#ffbdc8;
$bgColor-yellow:#ffff1f;
$bgColor-green: #00821a;
$displayInTheline: inline-block;