div.container {
width: 1100px;
min-height: 500px;
border: 1px solid;
margin: 0px auto;
}
    div.header {
        width: 1000px;
        height: 150px;
        background-color: rgb(68, 114, 196);
        margin: 10px auto;
    }
        div.header h1 {
            margin: 0;
            padding: 20px 0px 0px 30px;
            font-size: 70px;
        }
        div.header h2 {
            margin: 0;
            padding-left: 30px;
            color: white;
        }
    div.sideNav {
        display: inline-block;
        width: 150px;
        height: 600px;
        background-color: rgb(237, 125, 49);
        margin-left: 50px;
        margin-right: 6px;
        vertical-align: top;
    }
        div.sideNav p {
            text-align: center;
            margin-top: 30px;
        }
        div.sideNav p#firstLink {
            margin-top: 150px;
        }
    div.mainContent {
        display: inline-block;
        width: 840px;
        height: 600px;
        background-color: rgb(68, 114, 196);
    }
        div.profile {
            display: inline-block;
            vertical-align: top;
        }
            div.idpic {
                width: 150px;
                height: 150px;
                background-color: rgb(112, 48, 160);
                margin: 15px 0px 0px 15px;
            }
                div.idpic img {
                    width: 165px;
                    height: 165px;
                }
            div.logo {
                width: 150px;
                height: 100px;
                /* background-color: white; */
                margin: 5px 0px 0px 15px;
            }
                div.logo img {
                    width: 150px;
                    height: 110px;
                }
        div.table {
            display: inline-block;
            width: 645px;
            height: 255px;
            background-color: rgb(112, 48, 160);
            color: white;
            margin: 15px 0px 0px 10px;
        }
            div.table table {
                margin: 10px 0px 0px 25px;
            }
            div.table table tr td {
                padding: 5px 50px 3px 2px;
            }
            div.table table tr {
                text-align: left;
            }
        div.detailBody {
            width: 814px;
            height: 305px;
            background-color: rgb(112, 48, 160);
            margin: 10px 0px 0px 10px;
            display: inline-block;
        }
            div.detailBody p {
                margin: 20px 20px 0px 20px;
                padding: 15px 5px 10px 5px;
                background-color: rgb(68, 114, 196);
            }
    div.footer {
        width: 1000px;
        height: 150px;
        background-color: rgb(68, 114, 196);
        margin: 10px auto;
    }
        div.footer .contacts {
            display: inline-block;
            background-color: blueviolet;
            border-radius: 25% 10%;;
            width: 200px;
            height: 110px;
            margin: 10px 0px 0px 20px;
            padding: 15px 0px 0px 30px;
            color: white;
        }
        div.footer p {
            color: white;
            display: inline-block;
            margin-left: 50px;
        }